body {
  text-align: center;
  font-family: Helvetica;
  font-size: 14px;
  color: gray;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

.header a {
  font-size: 18px;
  color: white;
}

h1, .header a, .footer, .footer a, #NY {
  color: white;
}

.header, #NY {
  background-image: url("../the-flatiron-building.png");
}

.footer {
  background-color: dimgray;
  text-align: left;
}

.footer {
  font-size: 11px;
}

.footer a {
  font-size: 18px;
}
